<%- include('partials/header') %>

<div class="sagongsa">
<head>
  <meta charset="UTF-8">
  <title>404 Not found</title>

  <!--
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>-->
<style>

.body {
  background-color: #e7e7e7;
}
.sagongsa{
  display: flex;
  height: 83%;
  background: #fff;
  overflow: hidden;
  align-items: center;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3%;
  padding-bottom: none;
  margin: none;
  flex-direction: column;
  font-size: 120%;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-image: url(/img/404.gif);
  width: 800px;
  height: 700px;
  background-position: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.four_zero_four_bg h1 {
  font-size: 100px;
  margin: 0;
  padding-bottom: 45%;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.four_zero_four_bg h2 {
  margin: none;
  padding: none;
}

.four_zero_four_bg a {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 10px 0;
  display: inline-block;
  max-width: 70%;
  border-radius: 5px;
}

.contant_box_404 {
  margin-top: -50px;
}

.imgand404 {
  display: flex;
  justify-content: center;
}

.alltog404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  padding: none;
  margin: none;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

</style>

</head>

      <div class="alltog404">

          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
            <h2 class="h2">Look like you're lost!</h2>
            <p>The page you are looking for not avaible!</p>
            <a href="/" class="link_404">Return</a>
          </div>

      </div>


</div>
<%- include('partials/footer') %>