<%- include('./partials/header') %>

<main>
        <section class="view-section">
            <h1>기록 보기</h1>
            <div class="filter-container">
                <label for="category-filter">카테고리 선택:</label>
                <select id="category-filter">
                    <option value="all">모두 보기</option>
                    <option value="salary">급여</option>
                    <option value="expense">지출</option>
                    <option value="investment">투자</option>
                </select>
            </div>